form {
        display: block;
}

form label {
        min-width: 280px;
        width: 66%;
        line-height: 24px;
        height: 25px;
        display: block;
        padding: 5px 0;
        clear: both;
        position: relative;

}

form label input {
        float: right;
        width: 40%;
}

form label input[type='checkbox'] {
        float: right;
        margin-right: 40%;
        margin-top: 8px;
}
